*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: aliceblue;
}

.center{
    box-shadow: 5px 5px 10px #00000050;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
}
.container{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    text-align: center;
    color: blueviolet;
    font-size: 2rem;
}
.alert{
    margin: 30px 0;
    text-align: center;
    visibility: hidden;
    word-spacing: 5px;
    letter-spacing: 3px;
}
.alert-success{
    background-color:rgb(127, 235, 127);
    color: azure;
    padding: 2px 0;
    border-radius: 5px;
    font-size: .8rem;
    visibility: visible;
}
.alert-danger{
    background-color:rgb(250, 154, 154);
    color:antiquewhite;
    padding: 2px 0;
    border-radius: 5px;
    font-size: .8rem;
    visibility: visible;
}

.form{
    display: flex;
    align-items: center;
}
.input[type=text]{
    background-color: aliceblue;
    border: none;
    width: 25rem;
    height: 40px;
}
.button{
    background-color: rgb(162, 212, 255);
    border: none;
    height: 40px;
    padding: 0 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.list-container .list{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.list-container .list p{
    font-size: 15px;
}

.list-container .list .btn-container .delete, .edit{
    background-color: transparent;
    border: none;
}
.delete{
    color: red;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 10px;
}
.edit{
    color: green;
    font-size: 1.3em;
    font-weight: bold;
}
.clear-list-container{
    visibility: hidden;
}
.clear-list-container .clear-lists{
    background-color: transparent;
    border: none;
    /* font-size: 1rem; */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: red;
    letter-spacing: 4px;
   
}
.show-clear-lists{
    visibility: visible;
}

@media screen and (max-width:768px) {
    h1{
        font-size: 1.5rem;
    }

    .container{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

    .button{
    padding: 0 1rem;

    }

    .input[type=text]{
    background-color: aliceblue;
    border: none;
    width:15rem;
    height: 40px;
}
}